body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  background-color: antiquewhite;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  width: 60%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.desc #name {
  font-size: 25px;
  font-weight: bold;
  padding-left: 50%;
  transform: translatey(-50%);
}

.desc #price {
  color: #2901dd;
  font-size: 20px;
  font-weight: bold;
  padding-left: 75%;
  transform: translateY(-75%);
  margin: 0px;
}

.desc #bgn {
  color: black;
  font-size: 20px;
  display: inline;
  padding-left: -100%;
}

.desc #year {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

.desc #engine {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

.desc #horsepower {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}
.desc #eco {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}
.desc #trans {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

.desc #millage {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

.desc #color {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  margin-left: 10px;
}

.container #more-info {
  display: flex;
  padding-left: 40%;
  padding-right: 40%;
}
