body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  color: #1a17b4;
  width: 100px;
  height: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #1a17b4;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.image1 {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.image1 img {
  max-width: 100%;
  height: auto;
}

.info {
  margin-top: 10px;
  margin-bottom: -20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #1a17b4;
}

.info:hover {
  cursor: pointer;
}

.link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.p {
  color: #000;
  font-weight: bold;
}
